@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Berlin Sans FB Demi Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Sans FB Demi Bold'), url('/BRLNSDB.woff') format('woff');
}

.berlin-sans-normal {
  font-family: 'Berlin Sans FB Demi Bold', sans-serif;
  font-weight: normal;
}
.berlin-sans-semibold {
  font-family: 'Berlin Sans FB Demi Bold', sans-serif;
  font-weight: 700;
}
.berlin-sans-medium {
  font-family: 'Berlin Sans FB Demi Bold', sans-serif;
  font-weight: 600;
}


.public-sans-normal {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.public-sans-semibold {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(20px);
  }

  60% {
    transform: scale(1.05) translateY(-5px);
  }

  80% {
    transform: scale(0.97) translateY(2px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.8s ease forwards;
}

.floating-item {
  transition: opacity 0.3s ease;
}

html,
body,
#root {
  overflow-x: hidden;
  background-color: white;
}

.AccordionChevron[data-state='open'] {
  transform: rotate(180deg);
}